[submodule "game"]
	path = game
	url = https://github.com/Epicurius/Doom.git
[submodule "libs/libui"]
	path = libs/libui
	url = https://github.com/J0NY97/libui_v3.git
[submodule "map_editor"]
	path = map_editor
	url = https://github.com/J0NY97/doom_editor_v2.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/J0NY97/launcher_v2.git
