[submodule "libft"]
	path = libft
	url = https://github.com/J0NY97/libft.git
[submodule "libui"]
	path = libui
	url = https://github.com/J0NY97/libui.git
[submodule "printf"]
	path = ft_printf
	url = https://github.com/J0NY97/ft_printf-windows.git
[submodule "libgfx"]
	path = libgfx
	url = https://github.com/J0NY97/libgfx.git
[submodule "better_libui"]
	path = better_libui
	url = https://github.com/J0NY97/better_libui.git
[submodule "game"]
	path = game
	url = https://github.com/Epicurius/Doom.git
